<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Vaire</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Avaleht</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Artikli lisamine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Minust</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Logi sisse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Registreeri kasutajaks</a>
    </li>
    <li class="nav-item">
      <form
      action="/api/logout"
      method="get"
      class="d-inline"
    >
      <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Logi välja</button>
    </form>
        </button>
    </li>
  </ul>
</nav>
