<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="jumbotron">
              <h1>Tere tulemast!</h1>
              <p>See on tore! https://www.youtube.com/watch?v=1NrHkjlWVhM</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well">
              <img
                src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk"
                class="img-fluid rounded"
                alt="Responsive image"
              />
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
