<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div class="container">
      <header><%- include('../partials/headerLogin'); %></header>

      <div class="text-center">
        <br />
        <h3>Avaleht!</h3>
        <p>Blogiartiklite lugemiseks, palun logi sisse!</p>
        <br />
        <a href="/login">Logi sisse</a> | <a href="/register">Registreeri</a>
      </div>
    </div>
    <br /><br /><br /><br />
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
