<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Tere tulemast!</h1>
      </div>
    </main>
 <p>Siia tuleb ka midagi</p>

    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
